#post_preview_editor .ck-editor__editable_inline {
  min-height: 5vh;
}

#post_preview_editor
  > div.ck.ck-reset.ck-editor.ck-rounded-corners
  > div.ck.ck-editor__main
  > div {
  border-width: 0;
}

#post_preview_editor
  > div.ck.ck-reset.ck-editor.ck-rounded-corners
  > div.ck.ck-editor__top.ck-reset_all
  > div
  > div.ck.ck-sticky-panel__content {
  display: none;
}
